<!--Payment record table starts here -->
<div class="container mt-5 bg-light">
    <div class="row">
        <table class="table mb-5">
            <thead class="thead-dark" id="thead">
                <tr>
                    <th scope="col">Name of Parent</th>
                    <th scope="col">Date of Appointment</th>
                    <th scope="col">Number pf Children</th>
                    <th scope="col">Club</th>
                    <th scope="col">Amount in Ugs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Mike Walter</th>
                    <td>24/12/2019</td>
                    <td>2</td>
                    <td>Morning</td>
                    <td>34400</td>
                </tr>
                <tr>
                    <th scope="row">Pido john</th>
                    <td>24/12/2019</td>
                    <td>1</td>
                    <td>Morning</td>
                    <td>34400</td>
                </tr>
                <tr>
                <tr>
                    <th scope="row">lutugu daniel</th>
                    <td>24/12/2019</td>
                    <td>3</td>
                    <td>afternoon</td>
                    <td>34400</td>
                </tr>
                <tr>
                    <th scope="row">Agnes les</th>
                    <td>24/12/2019</td>
                    <td>3</td>
                    <td>evening</td>
                    <td>34400</td>
                </tr>
                <tr>
                    <th scope="row">Wlio pwoc</th>
                    <td>24/12/2019</td>
                    <td>1</td>
                    <td>evening</td>
                    <td>34400</td>
                </tr>
                <tr>
                    <th scope="row">Mike Walter</th>
                    <td>24/12/2019</td>
                    <td>3</td>
                    <td>night</td>
                    <td>34400</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>UGX 1200,0000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>