<footer class="fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 bg-dark p-1 text-white ">
                <p class="text-center"> <a href="">Terms of Service</a> | <a href="">Privacy Policy</a>| Sitemap |
                    &copy;
                    2019 Junior Baby Center Inc. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>