{{!-- Navigation bar --}}
<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-12 bg-info p-5 text-white text-center align-items-center">


            <img src="/assets/images/icons/mother-and-child-xl.png" alt="">
            <h1 class="display-3">Welcome to Junior baby center</h1>
            <p class="lead">A safe home away from home for your baby...</p>
            <div class="container">
                <ul>
                    <!-- ABOUT DROP-LIST -->
                    <li><a href="/">Home</a></li>
                    <li><a href="/about" class="col-md-12  col-sm-6 col-xs-12 ">About Us</a>
                        <!-- unordered under about -->
                        <ul>
                            <li><a href="/about">JBC</a></li>
                        </ul>
                    </li>


                    <li><a href="/contact">Contact Us</a>
                        <!-- unordered list under programs and servicse -->
                        <ul>



                        </ul>
                    </li>
                    <li><a href="/news">News</a>
                        <!-- unordered list under news -->

                        <ul>
                            <!-- <li><a href="" id="list-link">Log In</a></li> -->
                            <li><a href=""> <a href="/news">Today</a> </a></li>


                        </ul>
                    <li>

                        <a href="/account/register">Register </a>
                    </li>
                </ul>

                <!-- Redirect to the login page -->
                <a href="/account/login"> <button type="buttotn " class="btn btn-outline-light">log
                        in
                    </button></a>

            </div>
        </div>

    </div>

</div>