{{> navbar }}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <img src="/assets/images/playcolorgirl.jpeg" height="auto">

        </div>





        <!-- End of bootstarp acordian -->

        <div class="col-md-9 bg-info" style="background-color: rgb(24, 24, 27);">
            <!-- Added a bootsttrap Acordian -->
            <div class="col-md-12">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class=" w-100 text-dark p-2 "
                                    style="font-size: 20px;border-radius: 6px;font-family: Arial, Helvetica, sans-serif;"
                                    type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <h3>All About Junior Baby center</h3>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body  "
                                style="color:black;background-color:rgb(167, 201, 211);font-size:17px;font-family: Arial, Helvetica, sans-serif;">
                                <h4>We Believe in helping parents explore their full potential and still be able to
                                    enjoy parenthood by creating safe and
                                    easily accesing space for childcare. Parents are able to fully engage in persuing
                                    their careers, playing active roles in their influencial directions
                                    ,having alot of free times for fun without having to make difficult choices on whom
                                    and where to leave their children with.</h4>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0 ">
                                <button class="w-100 text-dark p-2"
                                    style="font-size: 20px; border-radius: 6px;font-family: Arial, Helvetica, sans-serif;"
                                    type="button" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    <h3>Programs And Packages</h3>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body"
                                style="color:black;background-color:rgb(167, 201, 211);font-size:17px;font-family: Arial, Helvetica, sans-serif;">
                                <h4>We offer the most affordable child care services for our clients, holiday packages ,
                                    afterschool period packages, emergency care and many others ...We have several
                                    different every day programs comprising of the
                                    <br>
                                    Morning Club (8am - 10am)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Day Club (10am - 1pm) <br>
                                    Afternoon Club (1pm- 3pm)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Evening Club (3pm - 1pm)&nbsp;&nbsp;&nbsp;&nbsp;
                                    Night Club (1pm - 7am). <br>
                                    Designed to suit your most suitable choices.With your children in our care, we want
                                    what is absolutely best for them.
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="w-100 text-dark p-2 collapsed "
                                    style="font-size: 20px ;border-radius: 6px; font-family: Arial, Helvetica, sans-serif;"
                                    type="button" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    <h3>Why Junior Baby Center</h3>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body"
                                style="color:black;background-color:rgb(167, 201, 211);font-size:17px;font-family: Arial, Helvetica, sans-serif;">
                                <h4>As professionals and practitioners in the children’s sector, We allow parents more
                                    access and proximity to their children while in the care of the Junior Baby Center
                                    professional caretakers. Because we understand how important their role is in the
                                    growth growth of their children</h4>
                                <br>
                                <h4>We provide emergency infant and toddler care for unexpected situations such as work
                                    and family commitments , nanny suddenly leaves, a romantic get away with your
                                    spouse, a night out with your spouse or anything that necessitates a parent's
                                    absence to provide child care.</h4>
                                <br>
                                <a href="/" class="btn btn-primary w-25">Register</a> <a href=""> &nbsp; &nbsp; Already
                                    have an account</a>&nbsp; &nbsp;Log in

                            </div>
                        </div>
                    </div>
                </div>


            </div>



        </div>




    </div>
</div>