{{> navbar }}

<!-- Images in the contacts page -->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-2">
            <img src="/assets/images/pic2/readkid.jpg" alt="">
        </div>

        <div class="col-md-2">
            <img src="/assets/images/pic2/playkid4.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="/assets/images/pic2/artkid.png" height="167px" alt="">
        </div>
        <div class="col-md-2">
            <img src="/assets/images/pic2/kido.jpg" height="167px" alt="">
        </div>
        <div class="col-md-2">
            <img src="/assets/images/pic/baby11.jpg" height="167px" width="250px" alt="">
        </div>
        <div class="col-md-2">
            <img src="/assets/images/pic2/musickid.jpg" height="167px" alt="">
        </div>

    </div>
</div>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-3 bg-dark p-5 text-white">
            <div class="container-fluid">
                <div class="row bg-dark">
                    <h4 class="col-md-12  p-4 " id="footer-contacts">Locate Us</h4>
                    <h5>Kampala Uganda </h5>
                    <h5>Plot 1445 Ggaba Road</h5>
                    <h5>GimBO Building</h5>
                    <h5>Gimbo close</h5>
                    <img src="/assets/images/icons/mother-and-child-xl.png" alt="">
                    <div class="container-fluid padding">
                        <div class="row text-center padding">
                            <div class="col-md 12">
                                <h2>Connect</h2>
                            </div>
                            <div class="col-md-12 social padding">
                                <a href=""><i class="fab fa-facebook p-1"></i></a>
                                <a href=""><i class="fab fa-twitter p-1"></i></a>
                                <a href=""><i class="fab fa-google-plus-g p-1 "></i></a>
                                <a href=""><i class="fab fa-instagram p-1"></i></a>
                                <a href=""><i class="fab fa-youtube p-1 "></i></a>
                            </div>
                        </div>
                    </div>

                    <h1 class="text-dark"> JBC</h1>


                </div>
            </div>
        </div>

        <div class="col-md-3 bg-dark p-5 text-white">
            <div class="container">
                <div class="row">
                    <h4 class="col-md-12  p-4 " id="footer-contacts">Email Us</h4>
                    <h5>JuniorBC@gmail.com</h5>



                    <img src="/assets/images/icons/mother-and-child-xl.png" alt="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                    <button class="btn btn-light" style="font-size: 25px;">Get Directions</button>
                    <!-- Social platform icons for connecting  -->
                </div>
            </div>
        </div>
        <div class="col-md-3 bg-dark p-5 text-white">
            <h4 class="col-md-12  p-3 " id="footer-contacts" style="font-size: 25px;">Call Us</h4>
            <h5>0788413223</h5>
            <h5>0703877864</h5>
            <h5>0300040002</h5>
            <hr class="text-white">
            <!-- <button class="btn btn-light"  >Schedule Appointment</button> -->
            <div class="btn-group">
                <button type="button" style="font-size:20px" class="btn btn-light dropdown-toggle w-100"
                    data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                    Who to Call
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 bg-dark p-5 text-white">
            <div class="container-fluid padding">
                <div class="row text-center padding">
                    <div class="col-md 12">
                        <h4 class="col-md-12  p-3 " id="footer-contacts">Follow US</h4>
                    </div>
                    <div class="col-md-12 social padding">
                        <a href=""><i style="height: 10px;" class="fab fa-facebook p-1"></i></a>
                        <a href=""><i class="fab fa-twitter p-1"></i></a>
                        <a href=""><i class="fab fa-google-plus-g p-1 "></i></a>
                        <a href=""><i class="fab fa-instagram p-1"></i></a>
                        <a href=""><i class="fab fa-youtube p-1 "></i></a>
                    </div>


                </div>
            </div>
        </div>


    </div>
</div>
</div>