{{> navbar }}

<div class="col-md-12  p-2"></div>

<!-- Bootstrap Carousel Starts here-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/images/playinggirl.jpg" class="d-block  " alt="..." height="410px" width="900px">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/collage1.jpg" class="d-block " alt="..." height="410px" width="950px">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/babysleg.jpg" class="d-block " alt="..." height="410px" width="900px">
          </div>

        </div>
      </div>
    </div>

    <!-- End of bootstarp acordian -->

    <div class="col-md-6 bg-info">
      <!-- Added a bootsttrap Acordian -->
      <div class="col-md-5">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" style="background-color:rgb(10, 66, 99);" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link w-100 text-light p-2" style="font-size: 20px;" type="button"
                  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Our Services
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body text-white bg-info" style="font-size:17px">
                We provide a 24 Hour infant and toddler care, 365 days in a year for children aged 0-48 months of age
                to 10years of age. Friday services goes for half price<a href="" class="btn btn-outline-light mt-3">Read
                  More...</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo" style="background-color:rgb(10, 66, 99);">
              <h2 class="mb-0 ">
                <button class="btn btn-link collapsed text-white" style="font-size: 20px;" type="button"
                  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Safe and Affordable
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body text-white bg-info" style="font-size:17px">
                We offer the most affordable child care services for your child during your work time ,emergengies,
                holiday, afterschool period ... as you maximise your full potential everyday <a href=""
                  class=" btn btn-outline-light mt-2">Read More..</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree" style="background-color:rgb(10, 66, 99);">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed text-light" style="font-size: 20px;" type="button"
                  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  While you work
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body text-light bg-info" style="font-size:17px">
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't ... <a href="" class=" btn btn-outline-light mt-3">Read
                  More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






    <!-- Meet out team -->

    <div class="container-fluid padding mt-3">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="display-4"> Meet Our Team</h1>
        </div>
      </div>
    </div>
    <hr>

    <!-- cards for team team members -->
    <div class="container-fluid padding mt-3">
      <div class="row pading">
        <div class="col-md-3">
          <img src="/assets/images/white.jpeg" alt="" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">Merilyn</h4>
            <p class="card-text">Merilyn is the morning Club Supervisor</p>
            <a href="#" class="btn btn-outline-secondary">See more</a>
          </div>
        </div>

        <!-- A card for a team member -->
        <div class="col-md-3">
          <img src="/assets/images/white.jpeg" alt="" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">Merilyn</h4>
            <p class="card-text">Merilyn is the morning Club Supervisor</p>
            <a href="#" class="btn btn-outline-secondary">See more</a>
          </div>
        </div>

        <!-- A card for a team member -->
        <div class="col-md-3">
          <img src="/assets/images/white.jpeg" alt="" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">Merilyn</h4>
            <p class="card-text">Merilyn is the morning Club Supervisor</p>
            <a href="#" class="btn btn-outline-secondary">See more</a>
          </div>
        </div>
        <!-- A card for a team member -->
        <div class="col-md-3">
          <img src="/assets/images/white.jpeg" alt="" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">Merilyn</h4>
            <p class="card-text">Merilyn is the morning Club Supervisor</p>
            <a href="#" class="btn btn-outline-secondary">See more</a>
          </div>
        </div>
      </div>
    </div>
    <!-- cadrs ends  -->
  </div>
</div>
</div>



<!-- Employees -->







</div>

</div>


<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 bg-dark p-5 text-white">
        <div class="container">
          <div class="row">
            <h4 class="col-md-12  p-3 " id="footer-contacts">Junior Baby Center </h4>
            <h5>Kampala Uganda</h5>
            <h5>1445 Ggaba Road</h5>
            <h5>Tel:0312-309-001</h5>
            <h5>Fax:256-414-24567</h5>


            <img src="/assets/images/icons/mother-and-child-xl.png" alt="">

            <h5>External Links</h5>
            <div class="container-fluid padding">
              <div class="row text-center padding">
                <div class="col-md 12">
                  <h2>Connect</h2>
                </div>
                <div class="col-md-12 social padding">
                  <a href=""><i class="fab fa-facebook p-1"></i></a>
                  <a href=""><i class="fab fa-twitter p-1"></i></a>
                  <a href=""><i class="fab fa-google-plus-g p-1 "></i></a>
                  <a href=""><i class="fab fa-instagram p-1"></i></a>
                  <a href=""><i class="fab fa-youtube p-1 "></i></a>


                </div>


              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="col-md-3 bg-dark p-5 text-white">
        <div class="container">
          <div class="row">
            <h4 class="col-md-12  p-3 " id="footer-contacts">Who we are </h4>
            <h5>Kampala Uganda</h5>
            <h5>1445 Ggaba Road</h5>
            <h5>Tel:0312-309-001</h5>
            <h5>Fax:256-414-24567</h5>


            <img src="/assets/images/icons/mother-and-child-xl.png" alt="">

            <!-- Social platform icons for connecting  -->



          </div>
        </div>
      </div>
      <div class="col-md-3 bg-dark p-5 text-white">
        <div class="row">
          <h4 class="col-md-12  p-3 " id="footer-contacts"> Team</h4>

          <h5>Comprises of professional</h5>
          <h5>practitioners in the </h5>
          <h5>children’s sector</h5>
          <h5>with decades of child</h5>
          <h5> care safety and protection</h5>
          <h5>Experience</h5>






          <!-- Social platform icons for connecting  -->



        </div>
      </div>
      <div class="col-md-3 bg-info p-5 text-white">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil adipisci cupiditate eaque sapiente quo
          voluptas neque quisquam, enim labore reiciendis!</h4>
      </div>


    </div>
  </div>
  </div>

  </div>

</footer>